# Compiled object files
*.o
*.d
*.a

# Executables

# Build directories
/build/

# Ignore config files
*.sh
*.md
compile_commands.json

# Dependency files
*.dep

# Editor/OS files
*~
*.swp
.DS_Store
.vscode/
.idea/

# Logs and temporary files
*.log
*.tmp

# Test scripts output
*.out

# Ignore user-specific config
*.user

# Ignore backup files
*.bak


# Ignore final build exec
webserv

# Ignore format specifiers
.clang-format


.cache/

.clang-format

# ignore test folder 
tests/
tests/*
